<div class="remark">
    <div class="rec">
        <h3 class = "TituloCategoria">@ViewBag.Titulo.Nombre</h3>
    </div>
</div>
@if(ViewBag.Usuario != null)
{
<a href='@Url.Action("CrearForo", new{Id = @ViewBag.Titulo.IdCategoria})'><button class = "boton">Crear Foro</button></a>
}
<div class="flexer">
    @foreach(Foro c in ViewBag.ListForosXcategoria)
    {
        <a class="cardc" href= '@Url.Action("Foro", new {IdForo = c.IdForo})'> 
            <div class= "CardCategoria"> 
                <div>
                    <h3>@c.Titulo </h3>
                    <p>@c.Descripcion </p>
                </div> 
                <div><h7>Escrito por <b>@c.IdUsuario</b></h7></div>
            </div>
        </a>
    }
</div>