<h3 class = "TituloCategoria">@ViewBag.Foro.Titulo</h3>
<p>@ViewBag.Foro.Descripcion</p>

@if(ViewBag.Usuario != null)
{
 <button class = "boton"><a href='@Url.Action("CrearPosteo", new{Id = @ViewBag.Foro.IdForo})'>Crear Posteo</a></button>
}



@foreach(Posteos p in  ViewBag.ListPosteos)
{
    <a href='@Url.Action("Posteo",new{idPosteo = p.IdPosteo})'>
        <div class = "Posteo">
            <div class= "TopBar"> 
                <h5>@p.Titulo</h5>
            </div>
            
            <div class= "Descripcion">
                <p>@p.Descripcion</p>
            </div>
            @if(ViewBag.Usuario != null)
            {
                if(ViewBag.Usuario.IdUsuario == p.IdUsuario)
                {
                     <a href= '@Url.Action("EliminarPosteo",new{IdUsuario = @p.IdUsuario, IdForo = @p.IdForo})'> <img class = "imgPerfil"src ="/img/descarga.png" width="25 px"></a>
                }
            }
           
        </div>
    </a>
}