<div class="recuadro">
    <div class="informacion">
        <h6>Escrito por <a href='@Url.Action("MostrarPerfil", new{IdUsuario = ViewBag.Foro.IdUsuario})'><b>@ViewBag.Foro.IdUsuario</b></a></h6>
        @if(ViewBag.Usuario != null)
        {
            if(ViewBag.Usuario.IdUsuario == ViewBag.Foro.IdUsuario)
            {
                <button class="botonB">
                    <a href='@Url.Action("EliminarForo", new { IdUsuario = ViewBag.Foro.IdUsuario, IdForo = ViewBag.Foro.IdForo, IdCategoria = ViewBag.Foro.IdCategoria })'>Eliminar Foro</a>
                </button>
            }
        }
    </div>
    <h3 class = "TituloCategoria">@ViewBag.Foro.Titulo</h3>
    <h5 class="centrar">@ViewBag.Foro.Descripcion</h5>
    @if(ViewBag.Usuario != null)
    {
        <a href='@Url.Action("CrearPosteo", new{Id = @ViewBag.Foro.IdForo})'><button class = "boton">Crear Posteo</button></a>
    }
    @foreach(Posteos p in  ViewBag.ListPosteos)
    {
        <a href='@Url.Action("Posteo",new{idPosteo = p.IdPosteo})'>
            <div class = "Posteo">
                <div class= "TopBar"> 
                    <h4>@p.Titulo</h4>
                </div>
                
                <div class= "Descripcion">
                    <p>@p.Descripcion</p>
                </div>
            </div>
        </a>
    }
</div>