
<div class="centrar">
    <div class="remark">
        <div class="rec">
            <h1>¡Bienvenido a Aid Together!</h1>
        </div>
    </div>
</div>
<div class="infoPost">
    <!-- Sección del posteo -->
    <a class="cardd" href='@Url.Action("Posteo", new {idPosteo = ViewBag.Posteo.IdPosteo})'>
        <div> 
            <div class="CardHome">
                <div>
                    <h2>@ViewBag.Posteo.Titulo</h2>
                    <p>@ViewBag.Posteo.Subtitulo</p>
                    <p>@ViewBag.Posteo.Descripcion</p>
                    <p>@ViewBag.Posteo.Cuerpo</p>
                </div>
                <div><h6>Escrito por <b>@ViewBag.Posteo.IdUsuario</b></h6></div>
            </div>
        </div>
        <div class="Comment">
            <div class = "Comentario">
                <div class= "informacionC"> 
                    <a href='@Url.Action("MostrarPerfil", new{IdUsuario = ViewBag.Comentario.IdUsuario})'><b>@ViewBag.Comentario.IdUsuario</b></a>
                </div>
                <div class="informacionC">
                    <p class="cuerpo">@ViewBag.Comentario.Cuerpo</p>
                    <p>@ViewBag.Comentario.fecha.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="half">
    <div class="remark">
        <div class="rec">
            <h2>Sobre Nosotros</h2>
            <p>Somos un Foro Médico dedicado a la discusión y el intercambio de conocimientos sobre temas médicos. Ofrecemos un ambiente seguro donde profesionales de la salud, estudiantes y entusiastas de la medicina pueden participar de manera anónima y gratuita.</p>
            <p>Explora nuestras categorías médicas, desde deportes hasta primeros auxilios, donde encontrarás información detallada, discusiones apasionantes y consejos prácticos.</p>
            <p>Únete a nuestras conversaciones y contribuye a hacer de Aid Together un recurso valioso para todos aquellos que buscan información y apoyo en el mundo de la medicina.</p>
            <p>¡Gracias por ser parte de nuestra comunidad!</p>
        </div>
    </div>
    <div class="centrar">
        <a href='@Url.Action("Home")'><button class="boton"><h3>¡Comencemos!</h3></button></a>
    </div>
</div>