<h3 class = "TituloCategoria">@ViewBag.Posteo.Titulo</h3>
<h6 class="TituloCategoria">@ViewBag.Posteo.Subtitulo</h6>
<p>@ViewBag.Posteo.Descripcion</p>
<p>@ViewBag.Posteo.Cuerpo</p>

<form Action= '@Url.Action("InsertComentario")' method= "get">
    <textarea name="Cuerpo" type="text" placeholder="Comentar..." rows="3" style="width: 100%;" required></textarea>
    <input type="hidden" value="" name="Fecha">
    <input type="hidden" value=@ViewBag.Usuario.IdUsuario name="IdUsuario">
    <input type="hidden" value=@ViewBag.Posteo.IdPosteo name="IdPosteo">
    <button id="botonCrearUsuario">Comentar</button>
</form>

<div class="Comentarios">
    @foreach(ComentarioPosteo p in ViewBag.ListComentarios)
    {
        <div class = "Comentario">
            <div class= ""> 
                <h5>@p.IdUsuario</h5>
            </div>
            <div class= "">
                <p>@p.Cuerpo</p>
            </div>
        </div>
    }
</div>