<h3 class = "TituloCategoria">@ViewBag.Posteo.Titulo</h3>
<h6 class="TituloCategoria">@ViewBag.Posteo.Subtitulo</h6>
<p>@ViewBag.Posteo.Descripcion</p>
<p>@ViewBag.Posteo.Cuerpo</p>

@if (ViewBag.Usuario != null){
    <form Action= '@Url.Action("InsertComentario")' method= "get">
        <textarea name="Comentario" type="text" placeholder="Comentar..." rows="3" style="width: 100%;" required></textarea>
        <input type="hidden" value=@ViewBag.Usuario.IdUsuario name="IdUsuario">
        <input type="hidden" value=@ViewBag.Posteo.IdPosteo name="IdPosteo">
        <button id="botonCrearUsuario">Comentar</button>
    </form>
}

<div class="Comentarios">
    @foreach(ComentarioPosteo p in ViewBag.ListComentarios)
    {
        <div class = "Comentario">
            <div class= ""> 
                <h5>@p.IdUsuario</h5>
            </div>
            <div class= "">
                <p>@p.Cuerpo</p>
            </div>
            @if(ViewBag.Usuario.IdUsuario != null)
            {
                if( ViewBag.Usuario.IdUsuario == p.IdUsuario)
            {
                <a href='@Url.Action("EliminarComentario", new{IdUsuario= @p.IdUsuario,IdComentario = @p.IdComentario,IdPosteo = @p.IdPosteo})'> <img class = "imgPerfil"src ="/img/descarga.png"> </a> 
            }
            }
        </div>
    }
</div>