@{
    var idUsuario = ViewBag.Posteo.IdUsuario;
    var idPosteo = ViewBag.Posteo.IdPosteo;
    var idForo = ViewBag.Posteo.IdForo;
    var idUser = ViewBag.Usuario != null ? ViewBag.Usuario.IdUsuario : null; // Verificar si ViewBag.Usuario es nulo antes de acceder a su propiedad IdUsuario
}

<div class="recuadro">
    <div class="informacion">
        <h6>Escrito por <a href='@Url.Action("MostrarPerfil", new{IdUsuario = ViewBag.Posteo.IdUsuario})'><b>@ViewBag.Posteo.IdUsuario</b></a></h6>
        @if(ViewBag.Usuario != null)
        {
            if(ViewBag.Usuario.IdUsuario == ViewBag.Posteo.IdUsuario)
            {
                <button class="botonB" onclick="confirmarEliminar()">Eliminar Posteo</button>
            }
        }
    </div>

    <h3 class="TituloCategoria">@ViewBag.Posteo.Titulo</h3>
    <h5 class="TituloCategoria">@ViewBag.Posteo.Subtitulo</h5>
    <p>@ViewBag.Posteo.Descripcion</p>
    <p>@ViewBag.Posteo.Cuerpo</p>

    @if (ViewBag.Usuario != null){
        <form Action='@Url.Action("InsertComentario")' method="get">
            <textarea name="Comentario" type="text" placeholder="Comentar..." rows="3" style="width: 100%;" required></textarea>
            <input type="hidden" value="@ViewBag.Usuario.IdUsuario" name="IdUsuario">
            <input type="hidden" value="@ViewBag.Posteo.IdPosteo" name="IdPosteo">
            <button id="botonCrearUsuario" class="boton">Comentar</button>
        </form>
    }
    @foreach(ComentarioPosteo p in ViewBag.ListComentarios)
    {
        var idComentario = p.IdComentario; // Declarar idComentario aquí
        
        <div class="Comentario">
            <div class="informacionC"> 
                <a href='@Url.Action("MostrarPerfil", new{IdUsuario = p.IdUsuario})'><b>@p.IdUsuario</b></a>
                @if(ViewBag.Usuario != null)
                {
                    if(ViewBag.Usuario.IdUsuario == p.IdUsuario)
                    {
                        <button class="botonB" onclick="confirmarEliminarC('@idComentario')">Eliminar Comentario</button>
                    }
                }
            </div>
            <div class="informacionC">
                <p class="cuerpo">@p.Cuerpo</p>
                <p>@p.fecha.ToShortDateString()</p>
            </div>
        </div>
    }
</div>

<script>
    var idUsuario = '@idUsuario';
    var idPosteo = '@idPosteo';
    var idForo = '@idForo';
    var idUser = '@idUser'
    
    function confirmarEliminar() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción no se puede deshacer.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("EliminarPosteo")?IdUsuario=' + idUsuario + '&IdPosteo=' + idPosteo + '&IdForo=' + idForo;
            }
        });
    }
    
    function confirmarEliminarC(idComentario) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción no se puede deshacer.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                var url = '@Url.Action("EliminarComentario")?IdUsuario=' + idUser + '&IdComentario=' + idComentario + '&IdPosteo=' + idPosteo;
                window.location.href = url;
            }
        });
    }
</script>