<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP_Final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP_Final.styles.css" asp-append-version="true" />
    <link rel= "stylesheet" href = "Shared/_Layout.">
</head>
<body>
    <div class = "navbar">
        <p>Foto</p>
        <a href='@Url.Action("Index")'><p>Aid Together</p></a>

        @if (ViewBag.Validation == true)
        {
            <a href='@Url.Action("MostrarPerfil")'><img src="/img/image-removebg-preview.png" width="50px"></a>
        }
        else
        {
            <a href='@Url.Action("InicioSesion")'><img src="/img/image-removebg-preview.png" width="50px"> </a>
        }
    </div>

    <div class= "sub-navbar">
        <a href='@Url.Action("Categorias",new{idCategoria = 1})'><p>Deportes</p></a>
        <a href='@Url.Action("Categorias",new{idCategoria = 2})'><p>Alimentacion</p></a>
        <a href='@Url.Action("Categorias",new{idCategoria = 3})'><p>Primeros Auxilios</p></a>
        <a href='@Url.Action("Categorias",new{idCategoria = 4})'><p>Enfermedades</p></a>
        <a href='@Url.Action("Categorias",new{idCategoria = 5})'><p>Infancia</p></a>
    </div>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
