<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP_Final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP_Final.styles.css" asp-append-version="true" />
    <link rel= "stylesheet" href = "Shared/_Layout.">
</head>
<body>
    <div class = "navbar">
        <img src="/img/Logo.png" class="fotito">
        <a href='@Url.Action("Index")'><h1>Aid Together</h1></a>

        @if (ViewBag.Usuario != null)
        {
            <a href='@Url.Action("MostrarPerfil")'>
                <p>@ViewBag.Usuario.IdUsuario</p>
                <img src="/img/image-removebg-preview.png" width="50px">
            </a>
        }
        else
        {
            <div>
                <a href='@Url.Action("InicioSesion")'><button class="iniciar">Iniciar Sesion</button></a>
                <a href='@Url.Action("Registrarse")'><button class="registrarse">Registrarse</button></a>
            </div>
        }

    </div>
    <div class= "sub-navbar">
    @{
        List<Categorias> ListaCategorias = BD.TraerCategorias();
        foreach(Categorias item in ListaCategorias) 
        {
            <a href='@Url.Action("Categoria",new{idCategoria = item.IdCategoria})'><p>@item.Nombre</p></a>
        }
    }
    </div>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
