<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP_Final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP_Final.styles.css" asp-append-version="true" />
    <link rel= "stylesheet" href = "Shared/_Layout.">
</head>
<body>
    <div class = "navbar">
        <section class="third">
            <img src="/img/Logo.png" class="fotito">
        </section>

        <section class="third">
            <a href='@Url.Action("Index")'><h1 class="titulo">Aid Together</h1>
            <div class="barra"></div></a>
        </section>
        
        <section class="third">
            @if (ViewBag.Usuario != null)
            {
                <a class="perfil" href='@Url.Action("MostrarPerfil", new{IdUsuario = ViewBag.Usuario.IdUsuario})'>
                    <h5 class="idusuario">@ViewBag.Usuario.IdUsuario</h5>
                    <img class="pfp" src="@ViewBag.Usuario.Foto" width="50px">
                </a>
            }
            else
            {
                <div>
                    <a href='@Url.Action("InicioSesion")'><button class="iniciar">Iniciar Sesion</button></a>
                    <a href='@Url.Action("Registrarse")'><button class="registrarse">Registrarse</button></a>
                </div>
            }
        </section>
    </div>
    <div class= "sub-navbar">
    @{
        List<Categorias> ListaCategorias = BD.TraerCategorias();
        foreach(Categorias item in ListaCategorias) 
        {
            <a href='@Url.Action("Categoria",new{idCategoria = item.IdCategoria})'><p>@item.Nombre</p></a>
        }
    }
    </div>
    <div class="container">
        <main role="main" class="space">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
